<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uyiban.freshman.mapper.DormitoryMapper">
    <select id="getDormitoryById" resultType="DormitoryModel">
        select Id,StudentName,StudentNo,BuildingNo,BunkNo,IDCardNo,AdmissionNo,ExamNo,CandidatesNo,DormitoryNo,BatchId from freshman_dormitory where Id = #{id}
    </select>
    <select id="getDormitories" resultType="DormitoryModel">
        select * from freshman_dormitory limit #{offset}, #{limit};
    </select>
</mapper>