<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uyiban.leave.mapper.LeaveRecordMapper">
    <select id="findById" resultType="LeaveRecordModel">
        select Id, StudentId, StartTime, EndTime, OffLeaveTime, RealEndTime from leave_record where Id = #{Id}
    </select>

    <resultMap id="BaseResultMap" type="com.uyiban.leave.model.LeaveRecordModel">
        <id column="Id" jdbcType="VARCHAR" property="Id"/>
        <id column="StudentId" jdbcType="VARCHAR" property="StudentId"/>
        <result column="StartTime" jdbcType="BIGINT" property="StartTime"/>
        <result column="EndTime" jdbcType="BIGINT" property="EndTime"/>
        <result column="OffLeaveTime" jdbcType="BIGINT" property="OffLeaveTime"/>
        <result column="RealEndTime" jdbcType="BIGINT" property="RealEndTime"/>
    </resultMap>
</mapper>
